<h1>New link</h1>

<form action='/links/new' method='post'>

  <label for='enter_url'>Enter URL:</label>
  <input type='text' name='url' id='enter_url' required autofocus>
  <label for='enter_title'>Enter title:</label>
  <input type='text' name='title' id='enter_title'>

  <input type='submit' value='Create link'>

</form>
